body,
html,
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    width: 17%;
    height: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 10px solid pink;
    margin: 2% 3%;
    padding: 0%;
}

.card-image {
    width: 70%;
    height: 70%;
    border: 10px solid palegreen;
}

.card-title {
    font-size: 2.2rem;
}

.card-price {
    font-size: 1.5rem;
}